# Rust
/target
/data
/.vscode

# C
/bindings/**/build/
/bindings/**/build-*/
/bindings/c/docs/

# C++
/bindings/cpp/docs/html/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/
.coverage
coverage.xml
htmlcov/
*.egg-info/
*.dist-info/
*.whl
*.pdb
pip-wheel-metadata/
/site/
/bindings/python/docs/build/

# MATLAB
/bindings/matlab/docs/html/
/bindings/matlab/+copp/+internal/*.mex*
/bindings/matlab/+copp/+internal/*.dll
/bindings/matlab/+copp/+internal/*.so
/bindings/matlab/+copp/+internal/*.dylib
/bindings/matlab/+copp/+internal/*.pdb
